#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

label {
  font-size: 1.5em;
  margin: 0.5em;
}

input[type='text'] {
  font-size: 2em;
  width: 1.5em;
  text-align: center;
}

#x-range-input {
  width: 100px;
}

#y-range-input {
  writing-mode: vertical-lr;
  height: 100px;
}
